---
import { SITE_TITLE } from '../consts'
---

<header class="mx-auto mb-6 max-w-5xl px-4 pt-10">
  <nav>
    <h2 class="font-serif text-3xl font-semibold">
      {SITE_TITLE}
    </h2>
  </nav>
</header>
